/* line 10, ../src/_sandwich.scss */
html[data-layout="sandwich"],
html[data-layout="sandwich"] body {
  height: 100%;
}

/* line 18, ../src/_sandwich.scss */
html[data-layout="sandwich"] .layout-container {
  min-height: 100%;
}
/* line 21, ../src/_sandwich.scss */
html[data-layout="sandwich"] .layout-container:before, html[data-layout="sandwich"] .layout-container:after {
  content: "\0020";
  display: block;
  position: relative;
  z-index: -999999999;
  background: transparent none;
  visibility: hidden;
}

/* line 10, ../src/_frameset.scss */
html[data-layout="frameset"],
html[data-layout="frameset"] body {
  width: 100%;
  height: 100%;
  min-height: 0;
  zoom: 1;
}

/* line 18, ../src/_frameset.scss */
html[data-layout="frameset"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 0;
  padding-bottom: 0;
  overflow-y: hidden;
}
/* line 28, ../src/_frameset.scss */
html[data-layout="frameset"] .layout-header {
  height: 0;
  margin-top: 0;
}
/* line 33, ../src/_frameset.scss */
html[data-layout="frameset"] .layout-footer {
  height: 0;
  margin-bottom: 0;
}
/* line 38, ../src/_frameset.scss */
html[data-layout="frameset"] .layout-main,
html[data-layout="frameset"] .layout-sub {
  height: 100%;
  overflow: auto;
}
/* line 44, ../src/_frameset.scss */
html[data-layout="frameset"] .layout-sub {
  width: auto;
  float: left;
}
