// Sandwich
// ==========
// An instance of Sticky Footer

@mixin layout-sandwich(
    $layout-header-height: auto,
    $layout-footer-height: auto
  ) {

  html[data-layout="sandwich"],
  html[data-layout="sandwich"] body {
    height: 100%;
  }

  html[data-layout="sandwich"] {
    // Main area of page
    // <main class="layout-container"></main>
    .layout-container {
      min-height: 100%;

      &:before,
      &:after {
        content: "\0020";
        display: block;
        position: relative;
        z-index: -999999999;
        background: transparent none;
        visibility: hidden;
      }
    }

    // Header of page
    @if $layout-header-height != auto {
      .layout-header,
      .layout-container:before {
        height: $layout-header-height;
      }

      .layout-header {
        margin-bottom: -$layout-header-height;
      }
    }

    // Footer of page
    @if $layout-footer-height != auto {
      .layout-footer,
      .layout-container:after {
        height: $layout-footer-height;
      }

      .layout-footer {
        margin-top: -$layout-footer-height;
      }
    }
  }
}

// Frameset

@mixin layout-frameset(
    $sidebar-width: auto,
    $sidebar-pos: left,
    $layout-header-height: 0,
    $layout-footer-height: 0
  ) {

  html[data-layout="frameset"],
  html[data-layout="frameset"] body {
    width: 100%;
    height: 100%;
    min-height: 0;
    zoom: 1;
  }

  html[data-layout="frameset"] {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: {
      top: $layout-header-height;
      bottom: $layout-footer-height;
    }
    overflow-y: hidden;

    .layout-header {
      height: $layout-header-height;
      margin-top: -($layout-header-height);
    }

    .layout-footer {
      height: $layout-footer-height;
      margin-bottom: -($layout-footer-height);
    }

    .layout-main,
    .layout-sub {
      height: 100%;
      overflow: auto;
    }

    .layout-sub {
      width: $sidebar-width;
      float: $sidebar-pos;
    }
  }
}
