
@mixin border-box {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

@mixin content-box {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}

@mixin box-fixed-height(
    $header-selector: "",
    $header-height: auto,
    $footer-selector: "",
    $footer-height: auto,
    $body-selector: "",
    $reset: false
  ) {

  @if $reset != true {
    &,
    #{$header-selector},
    #{$footer-selector} {
      @include border-box;
    }

    #{$header-selector},
    #{$footer-selector} {
      overflow: auto;
    }

    @if $body-selector != "" {
      #{$body-selector} {
        height: 100%;
        overflow: auto;
        @include border-box;
      }
    }
  }

  @if $header-height != auto {
    padding-top: $header-height;

    #{$header-selector} {
      height: $header-height;
      margin-top: -$header-height;
    }
  }

  @if $footer-height != auto {
    padding-bottom: $footer-height;

    #{$footer-selector} {
      height: $footer-height;
      margin-bottom: -$footer-height;
    }
  }

  @content;
}

// Sandwich
// ==========
// An instance of Sticky Footer

@mixin layout-sandwich(
    $layout-header-height: auto,
    $layout-footer-height: auto
  ) {

  html[data-layout="sandwich"],
  html[data-layout="sandwich"] body {
    height: 100%;
  }

  html[data-layout="sandwich"] {
    // Main area of page
    // <main class="layout-container"></main>
    .layout-container {
      min-height: 100%;

      &:before,
      &:after {
        content: "\0020";
        display: block;
        position: relative;
        z-index: -999999999;
        background: transparent none;
        visibility: hidden;
      }
    }

    // Header of page
    @if $layout-header-height != auto {
      .layout-header,
      .layout-container:before {
        height: $layout-header-height;
      }

      .layout-header {
        margin-bottom: -$layout-header-height;
      }
    }

    // Footer of page
    @if $layout-footer-height != auto {
      .layout-footer,
      .layout-container:after {
        height: $layout-footer-height;
      }

      .layout-footer {
        margin-top: -$layout-footer-height;
      }
    }
  }
}

// Frameset

@mixin layout-frameset(
    $sidebar-width: auto,
    $sidebar-pos: left,
    $layout-header-height: 0,
    $layout-footer-height: 0
  ) {

  overflow-y: hidden;
  @include box-fixed-height(
    ".Layout-header", $layout-header-height,
    ".Layout-footer", $layout-footer-height,
    ".Layout-content, .Layout-sidebar");

  &,
  body {
    width: 100%;
    height: 100%;
    min-height: 0;
    zoom: 1;
  }

  .Layout-sidebar {
    width: $sidebar-width;
    float: $sidebar-pos;
  }
}

// Scroll

@mixin layout-scroll(
    $sidebar-width: auto,
    $sidebar-minHeight: 0
  ) {

  html[data-layout="scroll"],
  html[data-layout="scroll"] body,
  html[data-layout="scroll"] .layout-sidebar,
  html[data-layout="scroll"] .layout-main {
    height: 100%;
  }

  html[data-layout="scroll"] body {
    &:before,
    &:after {
      content: "\0020";
      display: table;
    }

    &:after {
      clear: both;
    }
  }

  html[data-layout="scroll"] {
    .layout-sidebar {
      width: $sidebar-width;
      float: left;
      min-height: $sidebar-minHeight;
      overflow: hidden;
    }

    .layout-main {
      overflow: auto;
    }
  }
}

.Box--fixedHeight {
  @include box-fixed-height(".Box-header", auto, ".Box-footer", auto, ".Box-body");
}
