@import "./tangram";

html {
  @include layout-frameset(300px, right, ".Layout-sidebar", 60px, ".Layout-header", 100px, ".Layout-footer");
}

.Layout-header {
  background-color: pink;
}

.Layout-footer {
  background-color: wheat;
}

.Layout-content {
  background-color: orange;
}

.Layout-sidebar {
  background-color: yellow;
}
