@mixin box-fixed-height(
    $header-selector: "",
    $header-height: auto,
    $footer-selector: "",
    $footer-height: auto,
    $content-selector: "",
    $reset: false
  ) {

  @if $reset != true {
    &,
    #{$header-selector},
    #{$footer-selector} {
      @include box-sizing(border-box);
    }

    #{$header-selector},
    #{$footer-selector} {
      overflow: auto;
    }

    @if $content-selector != "" {
      #{$content-selector} {
        height: 100%;
        overflow: auto;
        @include box-sizing(border-box);
      }
    }
  }

  @if $header-height != auto {
    padding-top: $header-height;

    #{$header-selector} {
      height: $header-height;
      margin-top: -$header-height;
    }
  }

  @if $footer-height != auto {
    padding-bottom: $footer-height;

    #{$footer-selector} {
      height: $footer-height;
      margin-bottom: -$footer-height;
    }
  }

  @content;
}
