// Frameset

@mixin layout-frameset(
    $sidebar-width: auto,
    $sidebar-pos: left,
    $layout-header-height: 0,
    $layout-footer-height: 0
  ) {

  &,
  body {
    width: 100%;
    height: 100%;
    min-height: 0;
    zoom: 1;
  }

  body {
    overflow-y: hidden;
    @include box-fixed-height(
      ".Layout-header", $layout-header-height,
      ".Layout-footer", $layout-footer-height,
      ".Layout-content, .Layout-sidebar");
  }

  .Layout-sidebar {
    width: $sidebar-width;
    float: $sidebar-pos;
  }
}
