// Sandwich
// ==========
// An instance of Sticky Footer

@mixin layout-sandwich(
    $layout-header-height: auto,
    $layout-footer-height: auto
  ) {

  &,
  body {
    height: 100%;
  }

  // Main area of page
  // <main class="layout-container"></main>
  .Layout-container {
    min-height: 100%;

    &:before,
    &:after {
      content: "\0020";
      display: block;
      position: relative;
      z-index: -999999999;
      background: transparent none;
      visibility: hidden;
    }
  }

  // Header of page
  @if $layout-header-height != auto {
    .Layout-header,
    .Layout-container:before {
      height: $layout-header-height;
    }

    .Layout-header {
      margin-bottom: -$layout-header-height;
    }
  }

  // Footer of page
  @if $layout-footer-height != auto {
    .Layout-footer,
    .Layout-container:after {
      height: $layout-footer-height;
    }

    .Layout-footer {
      margin-top: -$layout-footer-height;
    }
  }
}
