// Scroll

@mixin layout-scroll(
    $sidebar-width: auto,
    $sidebar-minHeight: 0
  ) {

  html[data-layout="scroll"],
  html[data-layout="scroll"] body,
  html[data-layout="scroll"] .layout-sidebar,
  html[data-layout="scroll"] .layout-main {
    height: 100%;
  }

  html[data-layout="scroll"] body {
    &:before,
    &:after {
      content: "\0020";
      display: table;
    }

    &:after {
      clear: both;
    }
  }

  html[data-layout="scroll"] {
    .layout-sidebar {
      width: $sidebar-width;
      float: left;
      min-height: $sidebar-minHeight;
      overflow: hidden;
    }

    .layout-main {
      overflow: auto;
    }
  }
}
