// Scroll

@mixin layout-scroll(
    $sidebar-width: auto,
    $sidebar-minHeight: 0,
    $sidebar-selector: ".Layout-sidebar",
    $content-selector: ".Layout-content"
  ) {

  &,
  #{join(body, ($sidebar-selector, $content-selector), comma)} {
    height: 100%;
  }

  body {
    &:after {
      content: "";
      display: table;
      clear: both;
    }
    *zoom: 1;
  }

  #{$sidebar-selector} {
    width: $sidebar-width;
    float: left;
    min-height: $sidebar-minHeight;
    overflow: hidden;
  }

  #{$content-selector} {
    overflow: auto;
  }
}
